.tasks_container
	- if @tasks.empty?
		.tasks_success= "Congratulations! You have completed all your tasks."
	- else
		= form_tag update_tasks_path, id:"task_form", remote: true, format: 'json' do
			- @tasks.each do |task|
				.task_item_container
					= check_box_tag "task_id", task.id, false, options = {class: "task_item", id: "task_#{task.id}"}
					= label_tag "task_#{task.id}", task.task_name
			= hidden_field_tag :token, params[:token]

	:javascript
		$(function(){
			var clicked = "";

			$(".task_item").on('change', function(){
				$("#task_form").submit();
				clicked = $(this).attr("id");
			});

			$(document).on("ajax:success","#task_form", function(xhr, data, status){
				console.log(data);
				if(clicked && data.status)
				{
					$("#"+clicked).parents(".task_item_container").fadeOut();
				}
			});

		});