
<div class="container">

  <div class="form_input">
    <label>Email</label>
    <input type="text" id="email">
  </div>

  <br>
  <div class="form_input">
    <label>Password</label>
    <input type="password" id="password">
  </div>

  <button class="btn" id="btnqwe">Login</button>
  <script type="text/javascript">
  $(document).on('click','#btnqwe',function(data){
    var password = $('#password').val();
    var email = $('#email').val();
      $.get("http://android.geniilabs.in/users/login.json",{email:email,password:password},function(data){
          console.log(data);
          var auth_token = data.auth_token;
          Android.addtoken(auth_token);
        });

      return false;
  });
  </script>

</div>