.container
  .user-profile-page

    .profile_img
      %img{src: "http://www.vslots.co.za/wp-content/uploads/2011/11/blank-gravatar.jpg"}

    %p.profile_name
      = @user.username

    %p.profile_email
      = @user.email

    %p.first-row
      Points:
      = @user.points
