$red: #d92741;
$green: #0ec2b9;

input[type='checkbox']{
	-webkit-appearance:none;
	width: 15px;
	height: 15px;
	border: 1px solid #d92741;
	outline: none;
	margin-right: 10px;
	display: inline-block;
	position: relative;
	bottom: -2px;
}

input[type='checkbox']:active,
input[type='checkbox']:focus
{
	outline: none;
}

input[type='checkbox']:checked
{
	background: red;
}

.tasks_container
{
	padding: 10px;
	label{
		font-size: 18px;
		font-weight: 600;
	}
}

.container
{
  padding: 20px;
}

.form_input
{
  margin-bottom: 15px;
  input{
    width: 100%;
    height: 30px;
    margin-top: 5px;
  }
  label{
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    display: block;
  }
}

.btn
{
  width: 100%;
  background: $red;
  color: white;
  font-size: 18px;
  margin-top: 10px;
  &:hover
  {
    background: darken($red,10%);
  }
}

.list
{
  width: 100%;
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid black;
}

.user_name,
.user_points
{
  display: inline-block;
}

.user_name
{
  width: 150px;
}

.profile_name
{
  font-size: 24px;
  line-height: 36px;
  color: $red;
}

.profile_email
{
  color: $green;
  font-size: 14px;
}

.profile_img
{
  display: block;
  text-align: center;
  overflow: hidden;
  margin-bottom: 15px;
}

.tasks_success
{
  font-size: 24px;
  font-weight: bold;
  color: $red;
  text-align: center;
  padding-top: 30px;
}