// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #d92741;

.user-profile-page {
  padding: 10px;

  .first-row {
    max-width: 100px;
    float: left;
    clear: both;
    margin-right: 10px;
  }

  .second-row {
    max-width: 400px;
    float: left;
    clear: both;
  }

  img {
    float: left;
  }

}